@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;700&display=swap');

:root {
  --nav-color: rgb(148, 0, 255);
  --primary-color: rgb(228, 241, 255);
  --secondary-color: rgb(174, 210, 255);
  --text-color: rgb(255, 255, 255);
  --text-color-alt: rgb(33, 37, 41);
}

* {
  box-sizing: border-box;
}

#root > div {
  display: grid;
  font:
    1.2rem 'Montserrat',
    'Inter',
    sans-serif;
  grid-template: 50px auto / clamp(200px, 25%, 500px) auto;
}

body,
html {
  min-height: 100vh;
}

button {
  background-color: var(--nav-color);
  border: none;
  border-radius: 10px;
  color: var(--text-color);
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.close-modal {
  cursor: pointer;
}

.deadline-container {
  align-items: center;
  display: flex;
  font-size: 1rem;
  gap: 5px;
  grid-column: 2 / -1;
}

.deadline-container > i {
  font-size: 0.8rem;
}

.delete-todo, 
.edit-todo {
  cursor: pointer;
}

.description {
  background-color: rgba(204, 204, 204, 0.1);
  border-radius: 10px;
  grid-column: 2 / -1;
  padding: 10px;
}

.description p {
  margin: 0;
}

dialog {
  border: none;
  border-radius: 10px;
  width: clamp(250px, 30%, 500px);
}

dialog > div {
  text-align: right;
}

.group:first-child {
  margin-bottom: 20px;
}

.group > div {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  margin-bottom: 3px;
  padding: 7px;
}

.group > div:not(.heading):hover {
  background-color: var(--secondary-color);
  color: var(--text-color-alt);
}

h1 {
  font-size: 1.7rem;
  opacity: 0.5;
}

.high-priority {
  background-color: red;
}

.high-priority,
.low-priority,
.medium-priority {
  border-radius: 50%;
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
}

input,
textarea,
select {
  border: .8px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 5px 0 10px 0;
  padding: 10px;
  outline: none;
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--nav-color);
}

.labels {
  display: flex;
  gap: 10px;
  grid-column: 2 / -1;
}

.labels > div {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 6px;
}

.low-priority {
  background-color: lime;
}

main {
  color: var(--text-color-alt);
  grid-area: 2 / 2 / -1 / -1;
  padding: 3% 7%;
}

main h1 {
  margin-top: 0;
}

main > .heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

main > .heading > i {
  font-size: 1.5rem;
}

.medium-priority {
  background-color: orange;
}

nav {
  align-items: center;
  background-color: var(--nav-color);
  color: var(--text-color);
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
  padding: 15px 30px;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.new-task {
  align-items: center;
  border-top: 1px solid #000;
  cursor: pointer;
  display: flex;
  gap: 7px;
  padding: 20px 0;
}

.open-project-form {
  cursor: pointer;
}

.project > .heading {
  font-weight: 700;
  opacity: 0.7;
}

#sidebar {
  background: var(--primary-color);
  grid-area: 2 / 1 / -1 / 2;
  height: 100%;
  margin-top: 50px;
  padding: 30px 20px;
  position: fixed;
  width: clamp(200px, 25%, 500px);
}

.task {
  border-top: 1px solid #000;
  display: grid;
  grid-template: 1fr 1fr auto / 30px auto 50px;
  padding: 20px 0;
  row-gap: 5px;
}

.task .title {
  font-weight: 500;
}

.task > .radio {
  border: 1px solid var(--nav-color);
  border-radius: 50%;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 3px;
  place-self: center;
  width: 20px;
}

.task > .radio > .disk {
  background-color: var(--nav-color);
  border-radius: 50%;
  transition: all 1s;
}

.task > .radio > .disk.active {
  height: 100%;
  width: 100%;
}

textarea {
  resize: none;
}
